#include <dt-bindings/clock/bcm2835.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/bcm2835.h>
#include <dt-bindings/interrupt-controller/irq.h>

/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835";
    // fragment@0 {
    //     target = <&gpio>;
    //     __overlay__ {
    //         amp_enable: amp_enable {
    //             brcm,pins = <17>;
    //             brcm,function = <1>;
    //             brcm,pull = <1>;
    //         };
    //     };
    // };

    fragment@0 {
        target = <&i2c1>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;

            gpio_expander: mcp23008@20 {
                status = "okay";
                compatible = "microchip,mcp23008";
                gpio-controller;
                #gpio-cells = <2>;
                reg = <0x20>;
                interrupt-parent = <&gpio>;
                interrupts = <27 IRQ_TYPE_LEVEL_LOW>;
                interrupt-controller;
                #interrupt-cells = <2>;

                pinctrl-names = "default";
                pinctrl-0 = <&gpio_expander_pullups>;

                gpio_expander_pullups: pinmux {
                    pins =  "gpio0";
                    bias-pull-up;
                };
            };
        };
    };

    fragment@1 {
        target-path = "/";
        __overlay__ {

            vcc18: fixedregulator@2 {
                regulator-boot-on;
                compatible = "regulator-fixed";
                regulator-name = "soundcard18";
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <1800000>;
                gpio = <&gpio_expander 3 0>;
                startup-delay-us = <70000>;
                enable-active-high;
                vin-supply = <&vdd_3v3_reg>;
            };

            clocks {
                ref25: ref25M {
                    compatible = "fixed-clock";
                    #clock-cells = <0>;
                    clock-frequency = <25000000>;
                    clock-output-names = "ref25M";
                };                
            };

            // amp: analog-amplifier {
            //     compatible = "simple-audio-amplifier";
            //     enable-gpios = <&gpio 17 0>;
            //     VCC-supply = <&vdd_3v3_reg>;
            // };


            gpio_keys: volume_keys0 {
                compatible = "gpio-keys";
                #address-cells = <1>;
                #size-cells = <0>;
                autorepeat;

                volume_up {
                    label = "volume-up";
                    linux,code = <115>;
                    gpios = <&gpio_expander 0 GPIO_ACTIVE_LOW>;
                    wakeup-source;
                };

                volume_down {
                    label = "volume-down";
                    linux,code = <114>;
                    gpios = <&gpio 40 GPIO_ACTIVE_LOW>;
                    wakeup-source;
                };
            };

        };
    };

    fragment@2 {
        target = <&i2c1>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;

            tlv320aic3206: tlv320aic3206@18 {
                // #address-cells = <1>;
                // #size-cells = <0>;
                status = "okay";
                #sound-dai-cells = <0>;
                compatible = "ti,tlv320aic32x6";
                reg = <0x18>;

                reset-gpios = <&gpio_expander 4 0>;
                
                iov-supply = <&vdd_3v3_reg>;
                ldoin-supply = <&vcc18>;

                clocks = <&clocks BCM2835_CLOCK_PCM>;
                clock-names = "bclk";
                ground-centered-mode;

                aic32x4-gpio-func = <
                    0xff
                    0xff
                    0xff
                    0x4  // AIC32X4_MFP_GPIO_ENABLED
                    0xc  // AIC32X4_MFP5_GPIO_OUTPUT
                >;
            };
        };
    };

    fragment@3 {
        target = <&i2s>;
        __overlay__ {
            status = "okay";
        };
    };

    fragment@4 {
        target = <&sound>;
        snd: __overlay__ {
            compatible = "simple-audio-card";
            i2s_controller = <&i2s>;
            status = "okay";
            simple-audio-card,name = "pipad";
            simple-audio-card,format = "i2s";

            simple-audio-card,bitclock-master = <&dailink0_master>;
            simple-audio-card,frame-master = <&dailink0_master>;

            simple-audio-card,widgets =
                    "Microphone", "Microphone Jack",
                    "Microphone", "Internal Microphone",
                    "Headphone", "Headphone Jack",
                    "Line", "Line Out";
                    // todo: deal with line out / switch

            simple-audio-card,routing =
                "Line Out", "LOR",
                "Line Out", "LOL",
                "Headphone Jack", "HPL",
                "Headphone Jack", "HPR",
                "IN3_L", "Microphone Jack",
                "IN1_L", "Internal Microphone",
                "IN1_R", "Internal Microphone";

            // simple-audio-card,aux-devs = <&amp>;
            dailink0_master: simple-audio-card,cpu {
                sound-dai = <&i2s>;
            };
            simple-audio-card,codec {
                sound-dai = <&tlv320aic3206>;
                system-clock-frequency = <12288000>;
                // system-clock-frequency = <1411200>;
                // mclk-fs = <32>;
            };
        };
    };

    __overrides__ {
        alsaname = <&snd>, "simple-audio-card,name";
    };
};
